<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="movieRepository" class="com.mycompany.dvdstore.repository.FileMovieRepository"/>

    <bean id="movieService" class="com.mycompany.dvdstore.service.DefaultMovieService">
        <property name="movieRepository" ref="movieRepository"/>
    </bean>

    <bean id="movieController" class="com.mycompany.dvdstore.controller.MovieController">
        <property name="movieService" ref="movieService"/>
    </bean>
    

</beans>